<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:0px solid #ddd;">
    <tr>
        <td align="center">
            <table width="700px" style="background-color:#FFF;">
                <tr height="80px;">
                    <td align="center">
                        <table width="700px" style="background-color:#50e3c2 ;">
                            <tr>
                                <td align="center"
                                    style="padding:20px 20px 20px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;font-size:22px;font-weight:300;letter-spacing:0.1em;">
                                    Block Action
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px 20px 10px 20px; color:#7b7b7b ;font: 18px Lucida Grande, Helvetica, Arial, sans-serif;font-weight:600;">
                        Dear Sir/Madam,
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px 20px 0px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:none">
                        Address
                        <table width="700px">
                            <tr>
                                <td align="center"><a href="" target="_blank"
                                                      style="background-color:#50e3c2 ;color:#fff;padding:15px 40px;text-decoration:none;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:15px;letter-spacing:0.1em;font-weight:400;"><%= address %></a>
                                </td>
                            </tr>
                        </table>
                        <br/>has requested <b> <%= ether %>   </b>Ether from you. <br/>
                        with the message : "<%= message %>"
                    </td>
                </tr>
                <tr height="80px;">
                    <td align="center">
                        <table width="700px">
                            <tr>
                                <td align="center"><a
                                            href="http://www.blockaction.io/ethereum/send?to=<%= address %>&value=<%= ether %>"
                                            target="_blank"
                                            style="background-color:dodgerblue ;color:#fff;padding:15px 40px;text-decoration:none;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:15px;letter-spacing:0.1em;font-weight:400;">Send
                                        Ether</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 20px 20px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:none">
                        Should you require any further help, please feel free to write a mail to contact@blockaction.io
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px 20px 0px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:none">
                        Thanks,
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px 20px 20px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:500">
                        Support @BlockAction
                    </td>
                </tr>
                <tr height="80px;">
                    <td align="center">
                        <table width="700px" style="background-color:#50e3c2 ;">
                            <tr>
                                <td align="right"
                                    style="padding:20px 20px 20px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;font-size:13px;font-weight:300;letter-spacing:0.1em;">
                                    Block Action © 2017
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>